<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.dao.mapper.user.RoleResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="roleResourceResultMap" type="com.zt.domain.entity.RoleResource">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
    id, role_id, resource_id, is_deleted
    </sql>

    <select id="selectRoleResourcePage" resultMap="roleResourceResultMap">
        select
        <include refid="baseColumnList"/>
        from z_role_resource where is_deleted = 0
    </select>

</mapper>
